# Python-Bytecode-Dateien
__pycache__/
*.pyc
*.pyo

# Virtuelle Umgebungen
venv/
env/
.venv/

# Log-Dateien
*.log

# Betriebssystem-spezifische Dateien
.DS_Store  # macOS
Thumbs.db  # Windows

# Konfigurationsdateien
.env  # Umgebungsvariablen
*.sublime-workspace
*.sublime-project

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE-spezifische Dateien
.idea/
.vscode/
